body {
  font-family: sans-serif;
  font-size: 1.5vw;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 40%;
  grid-template-rows: calc(100vh / 3) calc(100vh / 3) calc(100vh / 3);
}

/*top left*/
.one {
  align-items: flex-start;
  background-color: #29459A;
  color: white;
  display: flex;
  flex-direction: column;
  grid-column-end: 3;
  grid-column-start: 1;
  justify-content: center;
  padding: 0 0 0 5%;
 }

h1 {
  font-size: 6vh;
  font-size: 3vw;
}

.light-text {
  color: white;
}

.title-text {
  color: white;
  display: block;
  font-size: 3vh;
  font-size: 1.25vw;
  text-decoration: none;
}

.contact-div {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 3% 0;
}

.icon-main {
  max-height: 60vh;
  min-height: 6vh;
  max-width: 25%;
  min-width: 10%;
}


.text-hover:hover {
  color: #FFDA58;
  opacity: 0.75;
  transition: opacity .25s ease-in-out;
  transition-delay: .05s;
}

/*top right*/
.two {
  background-color: #CEDBED;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*middle left*/
.three {
  background-color: #061339;
}

/*feature*/
.four {
  grid-column: 4 / 5;
  grid-row: 1 / 4;
  display: flex;
  align-items: center;
  display: inline;
}

/*center*/
.five {
  background-color: #CEDBED;
}

/*middle right*/
.six {
  background-color: #061339;
}

/*bottom left*/
.seven {
  background-color: #CEDBED;
}

/*bottom middle*/
.eight {
  background-color: #061339;
}

/*bottom right*/
.nine {
  background-color: #CEDBED;
}

.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.two:hover,
.three:hover,
.six:hover,
.seven:hover,
.eight:hover,
.nine:hover {
  background-color: #177117;
  border: solid #F3F1B5;
  opacity: 0.75;
  transition: opacity .25s ease-in-out;
  transition-delay: .05s;
}

.icon {
  height: 35%;
  margin: 10px;
  width: 35%;
}

.dark-text {
  color: black;
}

.feature-image,
.center-image {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 650px) {
  body {
    font-size: 18px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 30px;
    margin-top: 20px;
  }

  .title-text {
    font-size: 1rem;
  }

  .contact-div {
    margin: 0 0 16px 0;
  }

  .icon-main {
    height: 10%;
    width: 25%;
  }

  .light-text,
  .dark-text {
    margin-bottom: 16px;
  }

  .one {
    order: -2;
  }

  .three {
    order: 1;
  }

  .four {
    order: -1;
  }

  .five {
    order: 2;
  }
  
  .icon {
  height: 35%;
  width: 23%;
  }
}
